.NavbarsMyGroup{
    width: 24px;
    height: 23px;
    margin-right: 10px;
}

.NavbarsFilter{
    width: 21px;
    height: 21px;
    margin-right: 10px;
}

.Logo{
    width: 40px;
}

.NavBox{
    width: 100vw;
    display: flex;
    justify-content: space-between;
}

.NavbarChat{
    width: 23px;
    height: 20px;
    margin-right: 10px;
}

.NavContent{
    margin-top: 8px;
    display: flex;
    align-items: center;
}
.menuButton{
    width: 27px;
    height: 27px;
    margin-top: 0;
}
