@media only screen and (min-width: 270px) and (max-width: 299px) {
    .UserTitle{
        font-size: 15px;
    }
    
    .UserButton{
        font-size: 13px;
    }

    .UserNameBox, .OpenChatBox{
        margin-bottom: 10px;
    }

    .userCode{
        font-size: 12px;
        height: 30px;
    }
    
    .UserSubTitle{
        width: 30%;
        font-size: 11px;
        padding-right: 6px;
    }
    
    .userSubContent, .userCode{
        width: 70%;
        margin-left: 4px;
    }
    
    .UserPlusText{
        font-size: 10px;
        margin-bottom: 2px;
    }
    
    .OpenChatButton{
        font-size: 12px;
        width: 100%;
        height: 30px;
    }

    .MyPageLeftButton, .MyPageRightButton{
        width: 49%;
        font-size: 12px;
    }
}

@media only screen and (min-width: 300px) and (max-width: 399px) {
    .UserTitle{
        font-size: 17px;
    }
    
    .UserButton{
        font-size: 15px;
    }

    .UserNameBox, .OpenChatBox{
        margin-bottom: 15px;
    }

    .userCode{
        font-size: 15px;
        height: 35px;
    }
    
    .UserSubTitle{
        width: 30%;
        font-size: 13px;
        padding-right: 6px;
    }
    
    .userSubContent, .userCode{
        width: 70%;
        margin-left: 4px;
    }
    
    .UserPlusText{
        font-size: 11px;
        margin-bottom: 3px;
    }
    
    .OpenChatButton{
        font-size: 13px;
        width: 100%;
        height: 35px;
    }
    
    .MyPageLeftButton, .MyPageRightButton{
        width: 49%;
        font-size: 14px;
    }
}

@media only screen and (min-width: 400px) {
    .UserTitle{
        font-size: 20px;
    }
    
    .UserButton{
        font-size: 17px;
    }

    .UserNameBox, .OpenChatBox{
        margin-bottom: 18px;
    }

    .userCode{
        font-size: 18px;
        height: 40px;
    }
    
    .UserSubTitle{
        width: 30%;
        font-size: 16px;
        padding-right: 7px;
    }
    
    .userSubContent, .userCode{
        width: 70%;
        margin-left: 7px;
    }
    
    .UserPlusText{
        font-size: 15px;
        margin-bottom: 5px;
    }
    
    .OpenChatButton{
        font-size: 16px;
        width: 100%;
        height: 40px;
    }
    
    .MyPageLeftButton, .MyPageRightButton{
        width: 49%;
        font-size: 16px;
    }
}

.UserTitle{
    font-weight: bolder;
    color: #EFEFEF;
}

.UserButton{
    background-color: #212428;
    border-color: #212428;
    color:#ffffff;
    font-weight: bold;
    margin: 0;
}

.UserNameBox, .OpenChatBox{
    display: flex;
}

.UserSubTitle, .userCode{
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
}

.UserPlusText{
    color: #505050;
}

.OpenChatButton{
    background-color: #FEE500;
    border-color: #FEE500;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(28, 28, 28);
}

.MyPageButtonGroup{
    display: flex;
    justify-content: space-between;
}

.MyPageLeftButton, .MyPageRightButton{
    font-weight: bold;
}

.MyPageLeftButton{
    background-color: #e1e1e1;
    color: black;
    border-color: #e1e1e1;
}

.MyPageRightButton{
    background-color: #5a8cb7;
    color: white;
    border-color: #5a8cb7;
}