.BSDHeader{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 13px 10px 10px 10px;
}
button{
    background-color: transparent;
    border: none;
}
button:nth-child(1), button:nth-child(3){
    width: 38px;
}
button:nth-child(2){
    display: flex;
    background-color: rgb(247, 247, 247);
    border-radius: 5px;
    font-weight: 600;
    padding: 0;
    font-size: 15px;
}
button:nth-child(2) > div{
    padding: 4px 15px;
    border-radius: 5px;
}
.header_clicked_find_btn, .header_clicked_lost_btn{
    color: white;
    background-color: #396992;
    transition: all .2s linear;
}
.header_unclicked_find_btn, .header_unclicked_lost_btn{
    color: rgb(207, 207, 207);
    background-color: transparent;
}
.bsd_filter_canvas{
    position: relative;
    background-color: white;
    transition: all 0.3s linear;
    z-index: 999;
    overflow: hidden;
}
.bsd_filter_canvas_open{
    border-bottom: 2px solid #396992;
}