.MyTitle{
    color:#EEEEEE;
    font-weight: bold;
    font-size: 5vmin;
}

.personBox, .timeBox, .destiBox{
    display: flex;
    margin-bottom: 7px;
    height: 10vmin;
}


.mySubTitle, .myCommentTitle{
    width: 20%;
    font-size: 3vmin;
    font-weight: bold;
    display: flex;
    align-items: center;
}
.mySubContent{
    width: 80%;
    font-size: 5vmin;
    display: flex;
    align-items: center;
    justify-content: center;
}

.MyFooter{
    display: flex;
    justify-content: space-between;
}

.MyBottomButtonLeft{
    background-color: #7a7a7a;
    border-color: #7a7a7a;
    font-size: 4vmin;
}

.MyBottomButtonRight{
    background-color: #353535;
    border-color: #353535;
    font-size: 4vmin;
}

.myComment{
    margin-top: 20px;
}

.scrollBox{
    overflow: scroll;
    height: 250px;
}

.subScrollBox{
    overflow: scroll;
    height: 100px;
}

.myCommentHead{
    display: flex;
}

.myCommentTitle{
    width: 80%;
    background-color: rgb(241, 241, 241);
    padding-left: 15px;
    font-size: 4vmin;
    border-radius: 7px 0 0 0 / 7px 0 0 0;
    border: 1px solid rgb(227, 227, 227);
}

.myRefreshButton{
    width: 20%;
    border-radius: 0 7px 0 0 / 0 7px 0 0;
    border: 1px solid rgb(227, 227, 227);
}

.myCommentInput{
    border-radius: 0 0 0 7px / 0 0 0 7px;
}

.myCommentInputButton{
    border-radius: 0 0 7px 0 / 0 0 7px 0;
}

.subScrollBox{
    border-left: 1px solid rgb(214, 214, 214);
    border-right: 1px solid rgb(214, 214, 214);
}

.refreshImg{
    max-width: 25px;
}