@media only screen and (min-width: 270px) and (max-width: 299px) {
    .ChatTitle{
        font-size: 15px;
    }
    .CloseButton{
        width: 15px;
    }
    .ChatInput{
        font-size: 12px;
    }
    .myCommentInputButton{
        font-size: 12px;

    }
    .refreshImg{
        width: 20px;
    }
    .ChatMiddle{
        height: 40vh;
    }
}

@media only screen and (min-width: 300px) and (max-width: 399px) {

}

@media only screen and (min-width: 400px) {

}

.ChatTitle{
    color:#EEEEEE;
    font-weight: bold;
}
.ChatInput, .myRefreshButton{
    border-radius: 0 0 0 0 / 0 0 0 0;
}