@media only screen and (min-width: 270px) and (max-width: 299px) {
    .MakeTitle{
        font-size: 15px;
    }
    .subtitle{
        font-weight: bold;
        font-size: 12px;
        width: 20%;
        margin-right: 2%;
    }
    .creationContentBox{
        width: 75%;
        margin-left: 3%;
    }
    .plusText{
        font-size: 10px;
    }

    #todaydate{
        font-size: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 60%;
    }
    .buttonDate{
        width: 40%;
    }
    .buttonDateLeft, .buttonDateRight{
        width: 50%;
        font-size: 10px;
        margin-left: 1%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .choiceHour, .choiceMinute{
        width: 50%;
        height: 30px;
    }
    .inputHour, .inputMinute{
        width: 70%;
        font-size: 13px;
    }
    .timeP{
        width: 30%;
        font-size: 13px;
        display: flex;
        align-items: center;
        justify-content: center;
    }


    .inputDestination{
        font-size: 13px;
    }

    .MakeButtonLeft, .MakeButtonRight{
        font-size: 13px;
    }
}

@media only screen and (min-width: 300px) and (max-width: 399px) {
    .MakeTitle{
        font-size: 17px;
    }
    .subtitle{
        font-weight: bold;
        font-size: 12px;
        width: 20%;
        margin-right: 2%;
    }
    .creationContentBox{
        width: 75%;
        margin-left: 3%;
    }
    .plusText{
        font-size: 10px;
    }

    #todaydate{
        font-size: 12px;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 60%;
    }
    .buttonDate{
        width: 40%;
    }
    .buttonDateLeft, .buttonDateRight{
        width: 50%;
        font-size: 12px;
        margin-left: 1%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .choiceHour, .choiceMinute{
        width: 50%;
        height: 30px;
    }
    .inputHour, .inputMinute{
        width: 70%;
        font-size: 13px;
    }
    .timeP{
        width: 30%;
        font-size: 13px;
        display: flex;
        align-items: center;
        justify-content: center;
    }


    .inputDestination{
        font-size: 13px;
    }

    .MakeButtonLeft, .MakeButtonRight{
        font-size: 15px;
    }
}

@media only screen and (min-width: 400px) {
    .MakeTitle{
        font-size: 20px;
    }
    .subtitle{
        font-weight: bold;
        font-size: 15px;
        width: 20%;
        margin-right: 2%;
    }
    .creationContentBox{
        width: 75%;
        margin-left: 3%;
    }
    .plusText{
        font-size: 14px;
    }

    #todaydate{
        font-size: 15px;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 60%;
    }
    .buttonDate{
        width: 40%;
    }
    .buttonDateLeft, .buttonDateRight{
        width: 50%;
        font-size: 15px;
        margin-left: 1%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .choiceHour, .choiceMinute{
        width: 50%;
        height: 35px;
    }
    .inputHour, .inputMinute{
        width: 70%;
        font-size: 15px;
    }
    .timeP{
        width: 30%;
        font-size: 15px;
        display: flex;
        align-items: center;
        justify-content: center;
    }


    .inputDestination{
        font-size: 15px;
    }

    .MakeButtonLeft, .MakeButtonRight{
        font-size: 17px;
    }
}

.MakeDate, .MakeTime, .MakeDestination, .MakeOther,
.subcontent, .genderchoice, .choiceHour, .choiceMinute{
    display: flex;
    flex-direction: row;
}

.subtitle{
    display: flex;
    align-items: center;
    justify-content: center;
}

.MakeDate, .MakeTime, .MakeDestination{
    margin-bottom: 15px;
    width: 100%;
    line-height: 5vmin;
}

.buttonDate{
    display: flex;
    flex-wrap: nowrap;
}

.buttonDateLeft, .buttonDateRight{
    background-color: #396992;
    border-color: #396992;
    color: #ffffff;
    white-space: nowrap;
    font-weight: bold;
}

.MakeTitle{
    color:#EEEEEE;
    font-weight: bold;
}

.MakeButtonLeft{
    background-color: #777777;
    border-color: #ffffff;
    font-weight: bold;
    margin-top: 0;
    margin-bottom: 0;
}

.MakeButtonRight{
    background-color: #212428;
    border-color: #212428;
    font-weight: bold;
    margin: 0;
}

.plusText{
    color: #818181;
}