@media only screen and (min-width: 270px) and (max-width: 299px) {
    .MyTitle{
        font-size: 15px;
    }
    
    .personBox, .timeBox, .destiBox{
        height: 30px;
        margin-bottom: 7px;
    }
    
    .mySubTitle{
        font-size: 12px;
        width: 20%;
        margin-right: 5px;
    }

    .mySubContent{
        font-size: 16px;
        width: 80%;
    }
    
    .MyBottomButtonLeft, .MyBottomButtonRight{
        font-size: 13px;
    }

    .CopyUrlButton{
        font-size: 14px;
    }
}

@media only screen and (min-width: 300px) and (max-width: 399px) {
    .MyTitle{
        font-size: 17px;
    }
    
    .personBox, .timeBox, .destiBox{
        height: 35px;
        margin-bottom: 9px;
    }
    
    .mySubTitle{
        font-size: 14px;
        width: 20%;
        margin-right: 6px;
    }

    .mySubContent{
        font-size: 19px;
        width: 80%;
    }
    
    .MyBottomButtonLeft, .MyBottomButtonRight{
        font-size: 15px;
    }
    .CopyUrlButton{
        font-size: 15px;
    }
}

@media only screen and (min-width: 400px) {
    .MyTitle{
        font-size: 20px;
    }
    
    .personBox, .timeBox, .destiBox{
        height: 40px;
        margin-bottom: 10px;
    }
    
    .mySubTitle{
        font-size: 17px;
        width: 20%;
        margin-right: 8px;
    }

    .mySubContent{
        font-size: 24px;
        width: 80%;
    }
    
    .MyBottomButtonLeft, .MyBottomButtonRight{
        font-size: 18px;
    }
    .CopyUrlButton{
        font-size: 18px;
    }
}

.MyTitle{
    color:#EEEEEE;
    font-weight: bold;
}

.personBox, .timeBox, .destiBox{
    display: flex;
}

.mySubTitle{
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
}
.mySubContent{
    display: flex;
    align-items: center;
    justify-content: center;
}

.MyFooter{
    display: flex;
    justify-content: space-between;
}

.MyBottomButtonLeft{
    background-color: #777777;
    border-color: #777777;
    font-weight: bold;
    color: white;
    margin: 0;
}

.MyBottomButtonRight{
    background-color: #212428;
    border-color: #212428;
    font-weight: bold;
    color: white;
    margin: 0;
}
.CopyUrlButton{
    padding-left: 8px;
    padding-right: 8px;
    padding-top: 3px;
    padding-bottom: 3px;
    color: white;
    border: 1px solid white;
    border-radius: 7px 7px 7px 7px / 7px 7px 7px 7px;
    background-color: #212428;
}