.UserTitle{
    font-size: 5vmin;
    margin-bottom: 0;
    padding: 5px;
    font-weight: bolder;
    color: #EFEFEF;
}

.UserBody{
    font-size: 3vmin;
    margin-bottom: 0;
    padding: 5px;
}

.UserButton{
    font-size: 4vmin;
    margin-top: 0;
    margin-bottom: 0;
    background-color: #353535;
    border-color: #353535;
    color:#EEEEEE;
    font-weight: bold;
}

.UserNameBox, .OpenChatBox{
    display: flex;
    margin-bottom: 30px;
}

.UserSubTitle{
    width: 30%;
    margin-right: 2%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 4vmin;
    font-weight: bold;
}

.userSubContent{
    margin-left: 4%;
    width: 64%;
}

.UserPlusText{
    font-size: 3vmin;
    margin-bottom: 0;
    color: #505050;
    margin-top: 2%;
}

.OpenChatButton{
    background-color: #FEE500;
    border-color: #FEE500;
    width: 100%;
    height: 30px;
    font-size: 3vmin;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(28, 28, 28);
}

.MyPageButtonGroup{
    display: flex;
    justify-content: space-between;
}

.MyPageLeftButton, .MyPageRightButton{
    width: 49%;
    font-weight: bold;
}

.MyPageLeftButton{
    background-color: rgb(241, 241, 241);
}

.MyPageRightButton{
    background-color: rgb(255, 242, 183);
}