.BSDChatingPage{
    display: flex;
    flex-direction: column;
    height: 100vh;
}
.bsd_chat_header{
    height: 80px;
    display: flex;
    align-items: center;
    margin-left: 20px;
    font-size: 25px;
    font-weight: 700;
}
.bsd_chat_body{
    flex-grow: 1;
    overflow-y: scroll;
}
.bsd_chat_body_list{
    min-height: 100px;
    max-height: 400px;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.bsd_chat_body_subtitle{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px 0 5px 0;
    margin: 0 20px;
    border-bottom: 1px solid rgb(232, 232, 232);
    font-size: 16px;
    font-weight: 600;
    color: rgb(83, 83, 83);
}
.chat_null_case{
    font-size: 14px;
    color: gray;
    font-weight: 500;
}

.chatRoom{
    width: 95%;
    display: flex;
    justify-content: space-between;
    margin: 5px 20px;
    background-color: #f3f5ff;
    height: 80px;
    align-items: center;
    padding: 0 15px;
    border-radius: 20px;
    box-shadow: 0px 0px 5px 1px rgb(236, 236, 236);
}
.chatRoom >div:nth-child(1){
    color: #2d2d2d;
    font-size: 18px;
    font-weight: 700;
}
.chatRoom >div:nth-child(2){
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    font-size: 15px;
    font-weight: 600;
}