.RegistrationForm{
    height: 100vh;
    display: flex;
    flex-direction: column;
}
.RegistrationForm > div{
    margin: 15px 20px;
}
.form_header{
    height: 50px;
    font-size: 25px;
    font-weight: 600;
}
.form_body{
    flex-grow: 1;
    overflow-y: scroll;
}
.form_footer{
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.form_footer > button{
    font-size: 18px;
    font-weight: 600;
    width: 48%;
    margin: 0 5px;
    padding: 5px 0;
    display: flex;
    justify-content: center;
    border-radius: 5px;
}
.form_footer > button:nth-child(1){
    background-color: rgb(235, 235, 235);
}
.form_footer > button:nth-child(2){
    background-color: #396992;
    color: white;
}

.form_sub_title{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 8px;
    margin-top: 10px;
    border-bottom: 1px solid rgb(213, 213, 213);
}
.form_sub_title > div{
    display: flex;
}
.form_sub_title > div > div:nth-child(1){
    font-size: 18px;
    font-weight: 600;
}
.form_sub_title > div > div:nth-child(2){
    color: red;
    margin-left: 2px;
}
.form_sub_title > button {
    font-size: 23px;
    width: 50px;
    height: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    background-color: transparent;
    color: #396992;
}
.form_sub_title > button > img{
    width: 15px;
}
.form_sub_title > button:hover {
    color: white;
    background-color: #396992;
}
.form_sub_title > button:hover img{
    filter: brightness(100);
}

.form_body > div > div:nth-child(2){
    margin: 10px 10px 20px 10px;
}
.form_name_content{
    display: flex;
    justify-content: flex-end;
}
.form_name_content > input{
    outline: none;
    border: none;
    border-bottom: 1px solid #396992;
    padding: 2px 10px;
}
.form_img_content > div{
    display: flex;
    justify-content: space-between;
}
.form_img_content > div > img{
    width: 70px;
    height: 70px;
}
.form_img_content > div > div{
    font-size: 14px;
    color: gray;
    width: 70%;
}
.form_img_content > div > button{
    width: 20px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 800;
    background-color: white;
    position: relative;
}
.form_category_content{
    display: flex;
    justify-content: flex-end;
}
.form_category_content > select{
    outline: none;
    width: 150px;
    height: 35px;
    border-radius: 8px;
    border: 1px solid #396992;
}
.form_radius_content{
    color: gray;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.form_radius_content > select{
    outline: none;
    width: 150px;
    height: 35px;
    border-radius: 8px;
    border: 1px solid #396992;
}
.form_time_content > div{
    display: grid;
    grid-template-columns: 3fr 1fr 1.3fr 1fr 1.3fr 1fr;
    margin-bottom: 5px;
}
.form_time_content > div > input{
    width: 100%;
    border: none;
    border-bottom: 1px solid #396992;
    outline: none;
}
.form_time_content > div > div{
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 500;
    font-size: 15px;
}
.form_location_content{
    color: gray;
}
.form_text_content > textarea{
    width: 100%;
    height: 100px;
    resize: none;
    outline: none;
    border: none;
    border-radius: 5px;
    box-shadow: 1px 1px 0px 0px #396992;
}