.Main{
    width: 100%;
    height: calc(var(--vh, 1vh)*100);
    display: flex;
    flex-direction: column;
}
.Navbars{
    width: 100%;
    height: 55px;
}
.Map{
    width: 100%;
    flex-grow: 1;
}
.Footer{
    width: 100%;
    height: 20px;
}