.checktitle{
    font-size: 4vmin;
    margin-bottom: 0;
    padding: 5px;
    font-weight: bolder;
    color: #EFEFEF;
}

.checkbody{
    font-size: 3vmin;
    margin-bottom: 0;
    padding: 5px;
}

.checkbuttonRight{
    font-size: 3vmin;
    margin-top: 0;
    margin-bottom: 0;
    background-color: #212428;
    border-color: #212428;
}

.checkbuttonLeft{
    font-size: 3vmin;
    margin-top: 0;
    margin-bottom: 0;
    background-color: #515151;
    border-color: #515151;
}