.MakeDate, .MakeTime, .MakeDestination, .MakeOther,
.subcontent, .genderchoice, .choiceHour, .choiceMinute{
    display: flex;
    flex-direction: row;
}

.subtitle{
    width: 20vmin;
    display: flex;
    align-items: center;
}

.MakeDate, .MakeTime, .MakeDestination, .MakeOther{
    margin-bottom: 15px;
    width: 100%;
    line-height: 5vmin;
}

.subcontent{
    margin-left: 10px;
    width: 65vmin;
}

#todaydate{
    width: 50%;
    margin-right: 10px;
    font-size: 3vmin;
    line-height: 5vmin;
}

.buttonDate{
    width: 30%;
    display: flex;
    flex-wrap: nowrap;
}

.choiceHour, .choiceMinute{
    width: 50%;
}

.inputHour, .inputMinute{
    width: 70%;
    font-size: 3vmin;
    height: 7vmin;
    max-height: 45px;
    min-height: 30px;
}

.timeP{
    text-align: center;
    width: 30%;
    font-size: 3vmin;
    height: 7vmin;
    line-height: 7vmin;
    max-height: 45px;
    min-height: 30px;
}

.univSwitch{
    margin-bottom: 10px;
    font-size: 3vmin;
    font-weight: bold;
}

.genderP{
    width: 30%;
}

.buttonDateLeft{
    margin-right: 3px;
}

.buttonDateLeft, .buttonDateRight{
    background-color: #727272;
    border-color: #727272;
    color: #EEEEEE;
    font-size: 3vmin;
    white-space: nowrap;
}

.MakeTitle{
    color:#EEEEEE;
    font-weight: bold;
}

.subtitle{
    font-weight: bold;
    font-size: 3vmin;
}

.inputDestination{
    font-size: 3vmin;
}

#custom-switch{
    background-color: #D5D5D5;
    border-color: #D5D5D5;
}

.genderP, .formchecks{
    font-size: 3vmin;
}

.genderP{
    font-weight: bold;
}

.MakeButtonLeft{
    background-color: #515151;
    border-color: #515151;
}

.MakeButtonRight{
    background-color: #353535;
    border-color: #353535;
}

.plusText{
    font-size: 1vmin;
    margin-left: 15px;
    margin-bottom: 0;
    color: #818181;
}