@media only screen and (min-width: 270px) and (max-width: 299px) {
    .loginCompanyName{
        height: 19px;
        width: 81px;
        margin-right: 5px;
    }
    .xLogo{
        height: 10px;
        width: 10px;
    }
    .likelionLogo{
        height: 13px;
        width: 112px;
        margin-left: 5px;
    }
    .version, .madeby{
        font-size: 12px;
    }
}
@media only screen and (min-width: 300px) and (max-width: 399px) {
    .loginCompanyName{
        height: 20px;
        width: 85px;
        margin-right: 6px;
    }
    .xLogo{
        height: 12px;
        width: 12px;
    }
    .likelionLogo{
        height: 16px;
        width: 137px;
        margin-left: 6px;
    }
    .version, .madeby{
        font-size: 13px;
    }
}
@media only screen and (min-width: 400px) {
    .loginCompanyName{
        height: 24px;
        width: 102px;
        margin-right: 8px;
    }
    .xLogo{
        height: 14px;
        width: 14px;
    }
    .likelionLogo{
        height: 17px;
        width: 147px;
        margin-left: 8px;
    }
    .version, .madeby{
        font-size: 15px;
    }
}

#loginmain{
    background-color: #212428;
    height: calc(var(--vh, 1vh) * 100);;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.loginHeader{
    height: 30%;
}
.loginLogo{
    width: 40%;
    max-width: 450px;
}
.LoginForm{
    height: 40%;
    width: 80%;
    max-width: 400px;
}
.loginFooter{
    height: 30%;
    flex-direction: column;
}

.collaboLogo{
    display: flex;
    justify-content: center;
    align-items: center;
}
.appInfo{
    display: flex;
    margin-top: 5%;
    width: 80%;
    justify-content: space-around;
}
.version{
    color: rgb(171, 171, 171);
}
.madeby{
    color: rgb(171, 171, 171);
    text-decoration: underline;
}


.loginHeader, .LoginForm, .loginFooter{
    display: flex;
    align-items: center;
    justify-content: center;
}