.bsd_save_address{
    height: 55%;
    display: flex;
    align-items: center;
    margin-left: 10px;
    font-size: 18px;
    font-weight: 600;
}
.bsd_save_btn_group{
    height: 45%;
    display: flex;
    justify-content: space-between;
    padding: 5px;
}
.bsd_save_btn_group > button{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 6px;
    font-weight: 500;
}
.bsd_save_btn_group > button:nth-child(1){
    background-color: rgb(219, 219, 219);
    width: 49%;
}
.bsd_save_btn_group > button:nth-child(2){
    background-color: #396992;
    color: white;
    width: 49%;
}