#bsd_detail_top{
    display: flex;
    justify-content: center;
    font-size: 15px;
    font-weight: 700;
    color: #376791;
    height: 60px;
}
#bsd_detail_body{
    height: 100%;
    flex-grow: 1;
    overflow-y: scroll;
    padding: 10px 10px;
}
#bsd_detail_bottom{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80px;
}

#bsd_detail_body > div:nth-child(1){
    display: flex;
    box-shadow: 0px 0px 15px 1px rgb(243, 243, 243);
    padding: 20px 20px;
    border-radius: 10px;
    margin-bottom: 15px;
}
#bsd_detail_body > div:nth-child(1) > img{
    width: 100px;
}
#bsd_detail_body > div:nth-child(1) > div{
    flex-grow: 1;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
}
#bsd_detail_body > div:nth-child(1) > div > div{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    font-weight: 700;
}

#bsd_detail_body > div:nth-child(2){
    box-shadow: 0px 0px 15px 1px rgb(243, 243, 243);
    padding: 10px 20px;
    border-radius: 10px;
    margin-top: 15px;
}
#bsd_detail_body > div:nth-child(2) > div{
    display: flex;
    margin: 15px 0;
}
#bsd_detail_body > div:nth-child(2) > div > div:nth-child(1){
    min-width: 100px;
    display: flex;
    justify-content: center;
    padding-top: 15px;
    margin-right: 10px;
    font-size: 16px;
    font-weight: 600;
}
#bsd_detail_body > div:nth-child(2) > div > div:nth-child(2){
    flex-grow: 1;
    box-shadow: 0px 0px 15px 1px rgb(225, 225, 225);
    padding: 15px 20px;
    border-radius: 15px;
    font-size: 16px;
    white-space: pre-wrap;
    font-weight: 550;
}

#bsd_detail_bottom > button, #bsd_detail_bottom > div{
    font-size: 17px;
    font-weight: 600;
    background-color: #376791;
    width: 80%;
    color: white;
    padding: 15px 0;
    border-radius: 25px;
    transition: all 0.2s linear;
    display: flex;
    justify-content: center;
    align-items: center;
}
#bsd_detail_bottom > button:hover, #bsd_detail_bottom > div:hover{
    transform: scale(1.02);
}