#container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    color: #ACACAC;
    height: 100%;
}

#left{
    font-size: 1.5vh;
    font-size: 1.5vw;
    font-weight: bold;
    color: #4a6797;
}
#left #bottom{
    font-size: 0.8vh;
    font-size: 0.8vw;
}

#right{
    font-size: 1vh;
    font-size: 1vw;
}

.companyName{
    max-width: 70px;
    margin-bottom: 4px;
}
