@media only screen and (min-width: 270px) and (max-width: 299px) {
    .ChatTitle{
        font-size: 15px;
    }
    .CloseButton{
        width: 15px;
    }

    .msgName{
        font-size: 13px;
        margin-right: 3px;
        width: 48px;
    }
    .msgContent{
        font-size: 15px;
        margin-left: 5px;
    }

    .chatInputGroup{
        height: 45px;
    }
    .ChatInput{
        font-size: 12px;
    }
    .myCommentInputButton{
        font-size: 12px;
    }
    .refreshImg{
        width: 18px;
    }
}

@media only screen and (min-width: 300px) and (max-width: 399px) {
    .ChatTitle{
        font-size: 17px;
    }
    .CloseButton{
        width: 18px;
    }

    .msgName{
        font-size: 14px;
        margin-right: 5px;
        width: 55px;
    }
    .msgContent{
        font-size: 16px;
        margin-left: 8px;
    }

    .chatInputGroup{
        height: 48px;
    }
    .ChatInput{
        font-size: 15px;
    }
    .myCommentInputButton{
        font-size: 15px;
    }
    .refreshImg{
        width: 22px;
    }
}

@media only screen and (min-width: 400px) {
    .ChatTitle{
        font-size: 20px;
    }
    .CloseButton{
        width: 21px;
    }

    .msgName{
        font-size: 16px;
        margin-right: 7px;
        width: 65px;
    }
    .msgContent{
        font-size: 17px;
        margin-left: 10px;
    }

    .chatInputGroup{
        height: 50px;
    }
    .ChatInput{
        font-size: 18px;
    }
    .myCommentInputButton{
        font-size: 18px;
    }
    .refreshImg{
        width: 25px;
    }
}

.ChatTitle{
    color:#EEEEEE;
    font-weight: bold;
}
.ChatMiddle{
    padding: 10px;
    height: calc(var(--vh, 1vh) * 60);
    overflow-y:auto;
    display: flex;
    flex-direction: column-reverse;
}
.messageBox{
    display: flex;
    margin-right: 15%;
    margin-top: 4px;
}
.msgName{
    font-weight: bold;
    color: black;
}
.msgContent{
    background-color: #5a8cb7;
    color: white;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 10px;
    padding-left: 10px;
    border-radius: 10px 10px 10px 10px / 10px 10px 10px 10px;
}
.MyMsgContent{
    background-color: #396992;
    color: white;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 10px;
    padding-left: 10px;
    border-radius: 10px 10px 10px 10px / 10px 10px 10px 10px;
}
.MyMessageBox{
    display: flex;
    flex-direction: row-reverse;
    margin-left: 15%;
    margin-top: 4px;
}
.chatInputGroup{
    background-color: #212428;
}
.ChatInput, .myCommentInputButton, .myRefreshButton{
    border-radius: 0 0 0 0 / 0 0 0 0;
    border: 1px solid #212428;
}
.ChatInput{
    background-color: #f4f4f4;
    margin: 5px;
    border-radius: 10px 10px 10px 10px / 10px 10px 10px 10px;
}
.myCommentInputButton, .myRefreshButton{
    background-color: #212428;
    color: #e1e1e1;
    font-weight: bold;
    margin: 4px;
}