@media only screen and (min-width: 270px) and (max-width: 299px) {
    .LoadingMiddle{
        height: 220px;
    }
    .loadingSpinner{
        width: 30px;
        height: 30px;
        margin-bottom: 3px;
    }
    .LoadingP1{
        font-size: 18px;
    }
    .LoadingP2, .LoadingP3{
        font-size: 11px;
    }
    .LoadingP2{
        margin-bottom: 0;
    }
    .LoadingP3{
        margin-bottom: 30px;
    }
    .LoadingButton{
        font-size: 15px;
    }
}

@media only screen and (min-width: 300px) and (max-width: 399px) {
    .LoadingMiddle{
        height: 240px;
    }
    .loadingSpinner{
        width: 35px;
        height: 35px;
        margin-bottom: 5px;
    }
    .LoadingP1{
        font-size: 23px;
    }
    .LoadingP2, .LoadingP3{
        font-size: 13px;
    }
    .LoadingP2{
        margin-bottom: 0;
    }
    .LoadingP3{
        margin-bottom: 35px;
    }
    .LoadingButton{
        font-size: 17px;
    }
}

@media only screen and (min-width: 400px) {
    .LoadingMiddle{
        height: 260px;
    }
    .loadingSpinner{
        width: 38px;
        height: 38px;
        margin-bottom: 5px;
    }
    .LoadingP1{
        font-size: 27px;
    }
    .LoadingP2, .LoadingP3{
        font-size: 17px;
    }
    .LoadingP2{
        margin-bottom: 0;
    }
    .LoadingP3{
        margin-bottom: 35px;
    }
    .LoadingButton{
        font-size: 20px;
    }
}

.LoadingMiddle{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.LoadingP1{
    font-weight: bold;
    color: black;
}
.LoadingP2, .LoadingP3{
    color: rgb(103, 103, 103);
    font-weight: bold;
}
.LoadingButton{
    background-color: #396992;
    border-color: #396992;
    font-weight: bold;
}