.LOTitle{
    color:#EEEEEE;
    font-weight: bold;
    font-size: 5vmin;
}

.LOMiddle{
    font-weight: bold;
    font-size: 5vmin;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.LOButtonRight{
    background-color: #353535;
    border-color: #353535;
    font-size: 4vmin;
    font-weight: bold;
}

.LOButtonLeft{
    background-color: #7a7a7a;
    border-color: #7a7a7a;
    font-size: 4vmin;
    font-weight: bold;
}

.LOFooter{
    display: flex;
    justify-content: space-between;
}