.NavbarsMyGroup{
    font-size: 90%;
    color: rgb(180, 180, 180);
    margin-right: 15px;
}

.NavbarsFilter{
    width: 21px;
    height: 21px;
    margin-right: 20px;
}

.Logo{
    width: 40px;
}

.NavBox{
    width: 100vw;
    display: flex;
    justify-content: space-between;
}

.User{
    width: 17px;
    margin-right: 5px;
    height: 20px;
}

.NavbarChat{
    width: 23px;
    height: 20px;
    margin-right: 15px;
}

.NavContent{
    margin-top: 8px;
    display: flex;
}