.NavbarsMyGroup{
    font-size: 90%;
    color: rgb(180, 180, 180);
    margin-right: 20px;
}

.NavbarsFilter{
    width: 21px;
    height: 21px;
    margin-right: 20px;
}

.Logo{
    width: 40px;
}

.NavBox{
    width: 100vw;
    display: flex;
    justify-content: space-between;
}

.User{
    width: 4px;
    margin-right: 5px;
    max-width: 15px;
    min-width: 15px;
    height: 20px;
}

.NavContent{
    margin-top: 8px;
    display: flex;
}