#container{
    flex-wrap: wrap;
}

.NavbarsMake, .NavbarsFilter{
    font-size: 80%;
    color: rgb(180, 180, 180);
}

.NavbarsFilter{
    margin-left: 15px;
}

.Logo{
    margin-bottom: 5px;
    max-width: 50px;
    width: 20vmin;

}