.bottomCanvas{
    width: 100vw;
    height: 11vh;
    background-color: rgb(43, 43, 43);
}

.checkLeftButton{
    width: 48%;
    background-color: #d7d3e9;
    font-weight: bold;
    color: rgb(37, 37, 37);
    font-size: 4vmin;
}

.checkRightButton{
    width: 48%;
    background-color: #12043a;
    font-weight: bold;
    color: rgb(238, 234, 255);
    font-size: 4vmin;
}

.checkCanvasBody{
    display: flex;
    justify-content: space-around;
}

.checkLeftButton, .checkRightButton{
    display: flex;
    justify-content: center;
    align-items: center;
}