.bottomCanvas{
    width: 100vw;
    height: 11vh;
    background-color: rgb(43, 43, 43);
}

.checkLeftButton{
    width: 48%;
    background-color: #949494;
    font-weight: bold;
}

.checkRightButton{
    width: 48%;
    background-color: #505050;
    font-weight: bold;
}

.checkCanvasBody{
    display: flex;
    justify-content: space-around;
}