@media only screen and (min-width: 270px) and (max-width: 299px) {
    .checkCanvasBody{
        display: flex;
        justify-content: space-around;
    }
    
    .checkLeftButton, .checkRightButton{
        font-size: 16px;
        width: 45%;
    }
}

@media only screen and (min-width: 300px) and (max-width: 399px) {
    .checkCanvasBody{
        display: flex;
        justify-content: space-around;
    }
    
    .checkLeftButton, .checkRightButton{
        font-size: 18px;
        width: 45%;
    }
}

@media only screen and (min-width: 400px) {
    .checkCanvasBody{
        display: flex;
        justify-content: center;
    }

    .checkLeftButton, .checkRightButton{
        font-size: 18px;
        width: 200px;
        margin-left: 3px;
        margin-right: 3px;
    }
}
:root {
    --vh: 10%;
}

.bottomCanvas{
    width: 100vw;
    height: calc(var(--vh, 1vh) * 10);
    min-height: 75px;
    background-color: #212428;
}

.checkLeftButton{
    background-color: #e1e1e1;
    border-color: #e1e1e1;
    font-weight: bold;
    color: rgb(0, 0, 0);
}

.checkRightButton{
    background-color: #396992;
    border-color: #396992;
    font-weight: bold;
    color: rgb(255, 255, 255);
}

.checkLeftButton, .checkRightButton{
    display: flex;
    justify-content: center;
    align-items: center;
}