.filterOffCanvas{
    width: 60vw;
    min-width: 250px;
    max-width: 250px;
    background-color: rgb(56, 56, 56);
    color: rgb(225, 225, 225);
}

#offcanvasNavbarDropdown{
    color: rgb(185, 185, 185);
    padding-left: 5px;
    padding-top: 0;
}