@media only screen and (min-width: 270px) and (max-width: 299px) {
    .proTop{
        height: 120px;
    }
    .proInfo{
        margin-bottom: 5px;
    }
    .proInfoName, .proInfoContent{
        font-size: 12px;
    }
    .proInfoSub{
        padding: 3px;
        font-size: 10px;
        margin-top: 3px;
    }
    .proMiddle{
        padding-top: 120px;
    }

    .proBottom{
        justify-content: space-around;
    }
    .proleftbutton{
        width: 45%;
    }
    .prorightbutton{
        width: 45%;
    }
}

@media only screen and (min-width: 300px) and (max-width: 399px) {
    .proTop{
        height: 140px;
    }
    .proInfo{
        margin-bottom: 5px;
    }
    .proInfoName, .proInfoContent{
        font-size: 15px;
    }
    .proInfoSub{
        padding: 3px;
        font-size: 13px;
        margin-top: 3px;
    }
    .proMiddle{
        padding-top: 140px;
    }

    .proBottom{
        justify-content: space-around;
    }
    .proleftbutton{
        width: 45%;
    }
    .prorightbutton{
        width: 45%;
    }
}

@media only screen and (min-width: 400px) {
    .proTop{
        height: 150px;
        align-items: center;
    }
    .proInfo{
        margin-bottom: 5px;
        width: 400px;
    }
    .proInfoName, .proInfoContent{
        font-size: 17px;
    }
    .proInfoSub{
        width: 100%;
        padding: 3px;
        font-size: 14px;
        margin-top: 3px;
    }
    .proMiddle{
        padding-top: 150px;
    }

    .proBottom{
        justify-content: center;
    }
    .proleftbutton{
        width: 190px;
        margin-right: 5px;
    }
    .prorightbutton{
        width: 190px;
        margin-left: 5px;
    }
}

.PromotionModal{
    height: calc(var(--vh, 1vh)*100);
}

.proTop{
    color: white;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #212428;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding-top: 5px;
}
.proMiddle{
    height: calc(var(--vh, 1vh)*100);
    padding-bottom: 60px;
}
.proBottom{
    background-color: #212428;
    width: 100%;
    height: 60px;
    position: fixed;
    bottom: 0;
    left: 0;
    display: flex;
    padding: 10px;
}
.proInfo{
    display: flex;
}
.proInfoName{
    font-weight: bold;
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.proInfoContent{
    width: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.proInfoSub{
    font-weight: bold;
    border-top: 1px solid #396992;
    display: flex;
    justify-content: center;
    align-items: center;
}
.proSpan{
    background-color: #396992;
    padding-top: 2px;
    padding-bottom: 2px;
    padding-left: 8px;
    padding-right: 8px;
    border-radius:  10px 10px 10px 10px / 10px 10px 10px 10px;
}

.proleftbutton{
    background-color: #e1e1e1;
    border-color: #e1e1e1;
    font-weight: bold;
    color: rgb(0, 0, 0);
}

.prorightbutton{
    background-color: #396992;
    border-color: #396992;
    font-weight: bold;
    color: rgb(255, 255, 255);
}

.proleftbutton, .prorightbutton{
    display: flex;
    justify-content: center;
    align-items: center;
}